{%extends 'base.html'%}

{%block title%} About {%endblock title%}

 
{%block body%}
     <div class="container py-5">
    <h1 class="">Neills Three Favourite Exercises</h1>
    <div class="row mt-5">
      <div class="col-lg-4 p-3">
        <img src="static/images/Layer 8@1X.png" class="w-100 hover-img">
      </div>
      <div class="col-lg-6 pt-3 px-5">
        <div>
          <h1>01/</h1>
          <div class="ups">
            <h5>Bar Pull Ups</h5>
            <p class=" mt-0 font-weight-bold">
              <span class="mr-4">3 X10 REPS</span>       0000 SETS
            </p>
          </div>
        </div>
        <div class="content mt-5">
          <p>
            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, 
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
          <p> 
            <span class="font-weight-bold">Benefits: </span>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper aliquip ex ea commodo.
          </p>
        </div>
      </div>
      <div class="col-lg-2"> </div>
    </div>
    
    <div class="row mt-5">
      <div class="col-lg-4 p-3">
        <img src="static/images/Layer 9@1X.png" class="w-100 hover-img">
      </div>
      <div class="col-lg-6 pt-3 px-5">
        <div>
          <h1>02/</h1>
          <div class="ups">
            <h5>Pull Ups</h5>
            <p class=" mt-0 font-weight-bold">
              <span class="mr-4">3 X10 REPS</span>       0000 SETS
            </p>
          </div>
        </div>
        <div class="content mt-5">
          <p>
            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, 
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
          <p> 
            <span class="font-weight-bold">Benefits: </span>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper aliquip ex ea commodo.
          </p>
        </div>
      </div>
      <div class="col-lg-2"> </div>
    </div> 
  

    <div class="row mt-5">
      <div class="col-lg-4 p-3">
        <img src="static/images/Layer 10@1X.png" class="w-100 hover-img">
      </div>
      <div class="col-lg-6 pt-3 px-5">
        <div>
          <h1>03/</h1>
          <div class="ups">
            <h5>Weights</h5>
            <p class="mt-0 font-weight-bold">
              <span class="mr-4">3 X10 REPS</span>       0000 SETS
            </p>
          </div>
        </div>
        <div class="content mt-5">
          <p>
            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, 
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
          <p> 
            <span class="font-weight-bold">Benefits: </span>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper aliquip ex ea commodo.
          </p>
        </div>
      </div>
      </div>
      <div class="col-lg-2"> </div>
    </div>  
  </div>


  {%endblock body%}



